#navbar {
  padding: 1px;
  text-align: center;
  background-color: #9d2235;
  color: white;
  margin-bottom: 10px;
  border-radius: 10px;
}

#intro-note {
  color: black;
  font-size: 15px;
  margin: 20px;
}
